
<div >

<div class="flex flex-wrap mt-5">

<div class="w-9/12">
    <owl-carousel-o [options]="customOptions">
        
            
              <ng-template carouselSlide>
                <img class="w-full " src="../../../../assets/img/slider-image-3.jpeg">

              </ng-template>  
              <ng-template carouselSlide>
                <img class="w-full " src="../../../../assets/img/slider-image-2.jpeg">

              </ng-template> 
              <ng-template carouselSlide>
                <img class="w-full " src="../../../../assets/img/slider-image-1.jpeg">

              </ng-template> 
             
        
        
        
        </owl-carousel-o>
</div>
<div class="w-3/12 static-imgs">
    <img src="assets/img/slider-image-1.jpeg" class="w-full" alt="">
    <img src="assets/img/slider-image-2.jpeg" class="w-full" alt="">

</div>
</div>

</div>









